@if (Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Managed" asp-action="Login">Login</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark"
       asp-controller="Managed"
       asp-action="PerfilUsuario">
            , <span style="color: red">@Context.User.FindFirst("Nombre")?.Value @Context.User.FindFirst("Apellidos")?.Value</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"
       asp-controller="Managed"
       asp-action="LogOut">
            LogOut
        </a>
    </li>
}
