<h1 style="color: blue">Login Usuario</h1>

<form method="post">
    <label>Email</label>
    <input type="email" name="email" class="form-control" required />

    <label>Password</label>
    <input type="text" name="password" class="form-control" required />

    <button class="btn btn-success">Iniciar Sesion</button>
</form>

<h1 style="color: red">@ViewData["MENSAJE"]</h1>